{{> nav}}
<div class="text-center h2">Đăng nhập</div>

<form class="row g-3 m-4" method="POST" action="/account/login">
    <div class="col-md-6 offset-md-3">
      <label for="accountName" class="form-label fs-4">Tên đăng nhập</label>
      <input type="text" class="form-control" id="accountName" name="tenDangNhap" value="{{tenDangNhap}}" placeholder="Nhập tên đăng nhập hoặc email...">
      {{#if err}}
        <div class="text-danger">{{err.tenDangNhap}}{{err.userCheck}}</div>
      {{/if}}
    </div>
    
    <div class="col-md-6 offset-md-3">
      <label for="password" class="form-label fs-4">Mật khẩu</label>
      <input type="password" class="form-control" id="password" name="matKhau" value="{{matKhau}}" placeholder="Nhập mật khẩu ...">
      {{#if err}}
        <div class="text-danger">{{err.matKhau}}{{err.matKhauCheck}}</div>
      {{/if}}
    </div>
    <div class="col-md-6 offset-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Lưu mật khẩu
        </label>
      </div>
    </div>
    <div class="col-12 text-center mb-5">
      <button type="submit" class="btn btn-primary mb-4">Đăng nhập</button><br>
      <a href="/account/register">Bạn chưa có tài khoản? Đăng ký!</a>
    </div>
  </form>